[user]
	name = Nick Ogden
	email = nick@nickogden.org
[push]
	default = simple
[alias]
	dag = log --graph --decorate --all
	pr = !hub pull-request
	co = checkout
[core]
	excludesfile = ~/.config/git/gitignore
[github]
	user = nogden
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
[credential]
	helper = libsecret
[pull]
	ff = only
[init]
	defaultBranch = master
