# Ignore everything
*

# Except for
!.gitignore
!.gitconfig

!.emacs.d/init.el
!.emacs.d/customisations/
!.emacs.d/customisations/*
!.emacs.d/vendor/
!.emacs.d/vendor/*

!.config/starship.toml

!.tmux.conf
!.vimrc
!.wezterm.lua
!.zshrc
!.zshenv